head,footer,body{
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: white;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.2em;
}
p,body{
    font-size: 0.9em;
    background-color: #f5f5f5;
}
h1{
    height:45px;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #f5f5f5;
    font-size: 1.8em;
    
}
.entry{
    float:ce;
    position:relative;
    height: 600px;
    background-color: #f5f5f5;
    width: 200px;
    margin-left: 20em;
    top:17%;
    border-top: 1px #ff8800 solid;
    overflow-wrap: normal;

}
p.entry{
    float:right;
    
}
.writeup{
    float: left; 
    width:20%;
    height:600px;
    margin-left: 5em;
    padding-right: 2em;
    background-color: #f5f5f5;
}

.footer-section{
    position: fixed;
    bottom:20px;
    background: #474747;

}
.footer-related{
    position:inherit;
    background-color: #474747;
    bottom: 20px;
    border-top: 1px #ff8800 solid;
    color:lightslategray

}

p.footer-section{
    background-color: #474747;
    color:#f5f5f5;
}
.overlay{
    position:fixed;
    top:40px;
}


figure{
    position: relative;
}
figcaption{
    background: black;
    opacity: .5;
    color:white;
}


.linkbutton{
    background-color: #ff8800;
    padding:1em;
    color: #f5f5f5;
    float:right;
}
a:visited{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}