html, body{
    height:100%
}

head,footer,body{
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

#masthead{
    height:45px;
    margin-left:5em;
    margin-top:2em;
    margin-right: 5em;
    margin-bottom:2em;
    font-size: 1.8em;
    background-color:#f5f5f5;
}

#center h1{
    font-size: 1.8em;
    background-color:#f5f5f5de;
}
h2{
    font-size: 1.2em;
}
p,body{
    font-size: 0.9em;
}

#center{
    height: 600px;
    margin-right:5em;
    margin-bottom: 2em;
    margin-left:20em;
    padding:0.5em;
    overflow:auto;
}

.entry{
    background-color: #f5f5f5;
    border-top: 1px #ff8800 solid;
    overflow:auto;
    overflow-wrap:auto;
    margin-right:5em;
    margin-left:2em;
    margin-top:2em;
    margin-bottom: 2em;
}

figure{
    /* This should work*/
    position: relative;
    float:left;
}

figcaption{
    background: black;
    opacity: .75;
    color:white;
    position: absolute;
    width:150px;
    top:133px;
    z-index: 2;
}
.overlayed{
    position:absolute;
    top:0;
    left:0;
}

.linkbutton{
    display:block;
    background-color: #ff8800;
    padding:1em;
    margin-right:2em;
    color: #f5f5f5;
    float:right;
}

a:visited{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}

#right-sidebar{
    float: left; 
    width:10%;
    height:600px;
    margin-left: 5em;
    margin-right:3em;
    margin-top: 2em;
    background-color: #f5f5f5;
}

footer{
    background-color: #474747;
    width:100%;
    margin-top:2em;
    display:flex;
}

.footer-section{
    background: #474747;
    color:white;  
    display:block;  
    padding:0.5em;
}

.footer-related{
    background-color: #474747;
    border-top: 1px #ff8800 solid;
    float:left;
    display:block;
    
}